<div class="container pt-2">
    <div class="d-flex justify-content-center flex-wrap">
        <h2>
            {% trans %}approach{% endtrans %}
        </h2>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <span class="h2"> Kirche St. Bernhard</span><br/>
            <br/>
            <i>Bernhardusplatz 2 - 76530 Baden-Baden </i><br/>
            <br>Nächste Bushaltestelle: Große Dollenstraße (Linie: 201)<br/>
            Parkplätze: Links an der Kirche vorbei in den Kellersbildweg.
            <br/>
            <a href="https://www.kath-baden-baden.de/html/content/st_bernhard_weststadt.html">Homepage</a>
        </div>
        <div class="col-sm-6">
            <div class="map">
                <iframe width="320" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=8.22179138660431%2C48.77245789039877%2C8.228513002395632%2C48.775625531665284&amp;layer=mapnik&amp;marker=48.774041736014695%2C8.225154876708984"
                        style="border: 1px solid black"></iframe>
                <br/><small><a
                            href="https://www.openstreetmap.org/?mlat=48.77404&amp;mlon=8.22515#map=18/48.77404/8.22515">Größere
                        Karte anzeigen</a></small>
            </div>
        </div>
    </div>
    <div style="height:5vh"></div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <span class="h2"> Location </span><br/>
            <br/>
            <strong>Grindehütte</strong><br/>
            <br><i>Hornisgrinde 12, 77889 Seebach </i><br/>
            <br>Anfahrt: mit eigenem PKW (Parkplätze vorhanden) oder mit dem Shuttlebus<br/>
            <br/>
        </div>
        <div class="col-sm-6">
            <div class="map">
                <iframe width="320" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=8.19882094860077%2C48.600278273503186%2C8.202181756496431%2C48.601867543621104&amp;layer=transportmap&amp;marker=48.60107291481271%2C8.2005013525486"
                        style="border: 1px solid black"></iframe>
                <br/><small><a
                            href="https://www.openstreetmap.org/?mlat=48.60107&amp;mlon=8.20050#map=19/48.60107/8.20050&amp;layers=T">Größere
                        Karte anzeigen</a></small>
            </div>
        </div>
    </div>
</div>



