<div class="flex-row justify-content-center text-center" xmlns="http://www.w3.org/1999/html">
    <h2>Baden-Württemberg?</h2>
    <div class="flex-column justify-content-center text-center">
        Für alle, die das <b>"Ländle"</b> noch nicht kennen oder nichts damit anzufangen wissen :)<br/>
        Für alle, die wissen möchten, was wir hier im Südwesten zu bieten haben.<br/>
        Gibt es hier einen kleinen Einblick von <a href="https://www.bw-jetzt.de/"> bw-jetzt.</a><br/>
        Dort gibt es auch viele andere interessante Fakten zum Südwesten und <br/>
        sollte von Eingeborenen auch mal besucht werden.
        Am besten regelmäßig ;)<br/>
        <br>Ebenfalls ist für Auswärtige die Seite <a
                href="https://www.tourismus-bw.de/">Tourismus Baden-Württemberg</a> ein guter Anlaufpunkt.
    </div>
    <br/>
    <div class="flex-column justify-content-center text-center">
        <iframe class="videoIframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/CSli12X4iY0"
                frameborder="0"
                allowfullscreen></iframe>
    </div>
    <br/>
    <h2>Rund um die Locations</h2>
    <h2>Baden-Baden</h2>
    <div class="flex-column justify-content-center text-center">
        ... achja, Baden-Baden, was soll man darüber sagen? Wenn doch schon alles gesagt wurde und zwar von Leuten
        wie: <br/>
        <b>Mark Twain</b>, <b>Leo Tolstoi</b>, <b>Alexander Pushkin</b>, <b>Nicolai Gogol</b>, <b>Bill Clinton</b>
        <br/>
        <br/>
        Diese Stadt hat (abgesehen von unserer Hochzeit) auch noch ganz schön viele andere Sachen zu bieten:
        <br/>
        <br>
        <ul>
            <li>einmal sich wie James Bond fühlen im <a href="https://www.casino-baden-baden.de/de/">Casino</a>. Achtung
                nur in Chic ;)
            </li>
            <li>sich wie Römer entspannen im berühmten Baden-Badener Heilwasser der <a
                        href="https://www.carasana.de/de/"> Thermen</a>.
            </li>
            <li>das <a href="https://www.museum-frieder-burda.de/de/home/">Museum Frieder Burda</a> mit seinen
                Austellungen besuchen.
            </li>
            <li>im Deutschlands größten <a href="https://www.festspielhaus.de/">Festspielhaus </a> einer der vielen
                Darbietungen aus aller Welt bestauen.
            </li>
            <li>im <a href="https://www.theater-baden-baden.de/">Theater</a> div. Interpretationen lauschen.</li>
            <li>eine Fahrt ins <a href="https://www.baden-baden.com/das-rebland">Rebland</a> und zu den dort ansässigen
                Winzern ist auch immer wieder ein leckeres Erlebnis.
            </li>
            <li>oder man erkundet Baden-Baden ganz einfach zu Fuß. Es wartet z. B.: das Bäderviertel, die Altstadt, das
                alte und das neue Schloss, die berühmte Lichtentaler Allee und, und, und.
            </li>
        </ul>
        <br>
        Mehr Infos auch unter <a href="https://www.baden-baden.com"> https://www.baden-baden.com</a>.
        <br/>
        <i>"Baden-Baden is so nice you have to name it twice"</i> soll Bill Clinton mal gesagt haben.<br/>
        <br/>
        Hier der offizielle Image Filme. It's the good-good life!
    </div>
    <br/>
    <div class="flex-column justify-content-center text-center">
        <iframe class="videoIframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/34vn-b84l7M"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    <br/>
    <h2>Rund um die Grindehütte</h2>
    <div class="flex-column justify-content-center text-center">
        Rund um unsere Location: da gibt es natürlich ebenfalls sehr viele Möglichkeiten zum Zeitvertreib.
        <hr/>
        <h3>Die Hornisgrinde</h3>
        <br> Ja genau hier wird gefeiert! Mit 1163 m ü. NHN ist die Hornisgrinde der höchste Berg im Naturpark
        Schwarzwald Nord/Mitte.<br/>
        Auf ihrem Gipfel gibt es nicht nur unsere Feier, sondern auch noch ein Hochmoor und eine traumhafte Aussicht
        dazu!<br/>
        An klaren Föhntagen kann man mit etwas Glück sogar die Gipfel der Alpen oder das Straßburger Münster sehen.<br/>

        <br/>
        <hr/>
        <h3>Der Mummelsee</h3>
        <br>Wenn man vom Gipfel der Hornisgrinde nach unten sieht, fällt er sofort auf: der Mummelsee. Ein See aus der
        Steinzeit, (ungefähr als Jan-David geboren wurde) um den sich so viele Sagen ranken, wie der See alt ist (oder
        Jan).<br/>
        Ein gemütlicher Spaziergang um den See ist immer ein toller Zeitvertreib.
        <br>
        <br/>
        <hr>
        <h3>Sasbachwalden/Wein und Schwarzwaldörfer</h3>
        <br>
        ... O.k. ... o.k. Es ist nicht ganz fair, aber wir nehmen Sasbachwalden einfach mal als stellvertretendes
        Dörfchen.<br/>
        Es gibt ein Haufen so kleiner romantische Wein- und Schwarzwalddörfer. Setzt euch ins Auto oder in den Bus und
        los gehts!<br/>
        Achja es gibt ein Haufen Schnappsbrunnenwege in dieser Gegend.<br/> Was das ist, dürft ihr selber rausfinden
        (nehmt Kleingeld und feste Schuhe mit ;))
        <br>
        <br/>
        <hr/>
        <h3>Der Schwarzwald</h3>
        <br>
        Dunkel, mystisch, Kuckucksuhren, Bollenhut, Schnaps und Torte! <br/>
        Der berühmte Schwarzwälder Schinken, welcher über Nadelhölzer eine Woche geräuchert wird,<br/>
        das Schwarzwälder Kirschwasser und die Schwarzwälder Kirschtorte.<br>
        Noch mehr Gründe? Wilde Natur mit Bächen, Wälder, Wiesen und Höfen.<br/>
        Wanderstiefel an, Rucksack auf und ab in den Wald!
        <br>
        <br/>
        <hr/>
        <h3>Mehr Infos</h3>
        <ul>
            <li><a href="https://www.naturparkschwarzwald.de/">https://www.naturparkschwarzwald.de/</a></li>
            <li><a href="https://www.schwarzwald-tourismus.info/">https://www.schwarzwald-tourismus.info/</a></li>
            <li><a href="https://www.badischerwein.de/regionen/region-ortenau/">https://www.badischerwein.de/regionen/region-ortenau/</a>
            </li>
        </ul>
    </div>
    <br/>
    <h2>Etwas weiter entfernt</h2>
    <div class="flex-column justify-content-center text-center">
        <h3>Karlsruhe</h3>
        Ehemalige Residenzstadt, nördlich von Baden-Baden. <br>
        Hier kann man gemütlich einkaufen oder im großen Schlosspark faul in der Sonne liegen.<br/>
        Ebenfalls sollte man dem Zoo einen Besuch abstatten.<br/>
        <br>Ein Muss nicht nur für Technik- oder Kunstinteressierte ist das <b>Zentrum für Kunst und Medien</b>, kurz <a
                href="https://zkm.de">ZKM<a/>.
            <br>Wem es in der Stadt zu hektisch ist, kann nach Durlach oder Ettlingen fahren: hier kann man in
            mittelalterlicher Kulisse herrlich entschleunigen.
            <br/>
            Karlsruhe kann man mit der Bahn von Baden-Baden sehr gut und schnell erreichen.
            Ebenfalls gibt es einen großen P+R Parkplatz an der Europahalle (AS Karlsruhe-Süd).
            Innerhalb Karlsruhes ist alles per S-Bahn gut erreichbar und es gibt je nach Anzahl und Tag unterschiedliche
            Ticketangebote.<br/>
            <br>Mehr Infos: <a href="https://www.karlsruhe-erleben.de/">https://www.karlsruhe-erleben.de/</a> - die
            Navigation versteckt sich oben in der Mitte ;)
            <br>
            <br/>
            <hr/>
            <br/>
            <h3>Straßburg</h3>
            Auf nach Frankreich! Straßburg ist eine Stadt, die man mindestens einmal im Leben gesehen haben muss. Hier
            trifft sich Europa! <br/>
            Aber hier wird auch studiert, gelehrt, getanzt, gelacht und das Leben genossen!<br/>
            Beim flanieren durch die kleinen elsässischen Gässchen vergisst man gerne die Zeit; man vergisst, dass hier
            <a href="https://europarl.europa.eu/visiting/de">das Europäische Parlament <a/> wichtige Entscheidungen
                trifft (auf jeden Fall auch einen Besuch wert!).<br/>
                <br>Unbedingt probieren: in einer kleinen Kneipe das Straßburger Bier und dazu einen Flammkuchen
                genießen.<br/>
                Aber Achtung: Das Autofahren macht in Straßburg durch strenge Umweltauflagen wenig Spaß. <br/>
                Am Besten parkt man in Kehl am P+R hinterm Bahnhof und fährt mit dem Tram nach Straßburg (ca. alle 10
                Minuten - Fahrzeit bis Straßburg Mitte ca. 15 Minuten).
                Das Ticket gibt es schon für kleines Geld!<br/>
                Keine Sorge, man spricht auch Deutsch (meistens :)).
                <br/>
                <br>Mehr Infos: <a href="https://www.visitstrasbourg.fr/de/willkommen-in-strasbourg/">https://www.visitstrasbourg.fr/de/willkommen-in-strasbourg/</a>
                <br>
                <br/>
                <hr/>
                <br/>
    </div>
</div>
<br>

