<div class="pt-2">&nbsp;</div>
<div class="d-flex justify-content-center flex-wrap text-center text">
    <strong>Україна – Німеччина</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Найкращий і найшвидший спосіб – літаком. <br> Найближчі аеропорти: Карлсрує/Баден-Баден (Karlsruhe/Baden-Baden) <br> або Штутгарт (Stuttgart).
        З нещодавного часу з Києва літає лоукостер Ryanair. Yuhu! <br> Рейси та квитки за посиланням: <a
                href="https://www.ryanair.com/ua/uk">Ryanair</a>
        <br/>
        <br> Ціни: якщо летіти лоукостером, варіюються від 10 до 80 €, в залежності від сезону та дати. У загальному діє: чим
        раніше бронювати, тим дешевше. Так що найкраще не зволікати.
        Пропонуємо обирати найдешевший баз111овий тариф,а у процесі бронювання обрати послугу пріоріті (прибл. + 6 €). З
        пріоріті можна додатково брати із собою на борд валізу вагою до 10 кг, чого цілком вистачає на 7-10-денну подорож.
    </div>
    <br/>
    <br/>

</div>
<br/>
<hr/>
<br/>
<div class="d-flex justify-content-center flex-wrap text-center">
    <strong>Аеропорт Карлсрує/Баден-Баден (FKB)</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Найближчий до локації. Літак з/у Києв-Бориспіль літають двічі на тиждень, <br> кожного понеділка і п‘ятниці.
        <br/>
        <br> Інфа аеропорту за посиланням: <a
                href="https://www.baden-airpark.de/en/directions-and-parking/arrival-by-rail-and-bus/">Homepage Baden
            Airpark</a>
        <br/>
        <br> З аеропорта у Баден-Баден від'їжджає автобус № 285 щогодинно (перший у 06:40, останній у 23:15). Автобус курсує до
        головного вокзалу Баден-Бадена (нім. Baden-Baden Bahnhof, ≈ 28 хв.). З вокзалу Баден-Бадена потягом
        можна
        їхати далі, наприклад, у Карлсрує.<br/>
        <br/>
    </div>
</div>
<br/>
<hr/>
<br/>
<div class="d-flex justify-content-center flex-wrap text-center">
    <strong>Аеропорт Штутгарт (STR)</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Літак з/у Києв-Бориспіль літають чотири рази на тиждень (пн, ср, пт, нд). За ціною квитки дешевші, ніж у
        Баден-Баден. Рейси та квитки за посиланням: <a
                href="https://www.ryanair.com/ua/uk">Ryanair</a>
        <br> <br> Але: до Баден-Бадена 100 км. Машиною +/- година поїздки. Поїздом мінімум
        1,5 - 2 години з 2 пересадками. Ціна за дорослого за одну поїздку аеропорт – Баден-Баден приблизно 20 €. Тому рекомендуємо летіти усе-таки до аеропорту FKB Karlsruhe/Baden-Baden<br/>
        <br> Розклади поїздів у Німеччині, квитки тощо за посиланням: <a href="https://www.bahn.com/en/view/index.shtml">Deutsche Bahn in
            English</a>

    </div>
</div>
<br/>
<hr/>
<br/>
<div class="d-flex justify-content-center flex-wrap text-center">
    <strong>Де зупинитися</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Ми рекомендуємо винаймати житло через <a href="https://www.airbnb.com.ua/"> AirBnb</a>. Там можна знайти квартиру
        за помірною ціною. Головне – бронювати житло з гарними відгуками. <br> <br> Не обов'язкого бронювати житло саме у
        Баден-Бадені. Можна, наприклад, у сусідніх містах Karlruhe, Rastatt тощо (спитай нас ;). Головне, щоб було добре транспортне сполучення,
        наприклад, неподалік вокзалу (нім. Bahnhof). Або (якщо у Карлсрує) недалеко від зупинки міської електрички (нім.
        S-Bahn).
    </div>
    <div class="pt-3">&nbsp;</div>
</div>
</div>
<hr/>
<br/>
<div class="flex-row justify-content-center text-center" xmlns="http://www.w3.org/1999/html">
    <h2>Баден-Вюртемберг</h2>
    <div class="flex-column justify-content-center text-center">
       Баден-Вюртемберг: сонечна сторона у південнозахідній частині Німеччини. <br> Багата історія, культура і яскраві пейзажи, високі технології, видатні особистості, автівки світового класу... <br/>
       Візуалізувати допоможе наступне відео:
    </div>
    <br/>
    <div class="flex-column justify-content-center text-center">
        <iframe class="videoIframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/CSli12X4iY0"
                frameborder="0"
                allowfullscreen></iframe>
    </div>
    <br/>
    <h2>Туризм навколо весілля</h2>
    <h2>Баден-Баден</h2>
    <div class="flex-column justify-content-center text-center">
        ... ах так, Баден-Баден, що про нього можна сказати? Багато чого було сказано такими видатними особистостями
        як: <br/>
        <b>Марк Твен</b>, <b>Олександр Пушкін</b>, <b>Миколай Гоголь</b>, <b>Біл Клінтон</b>
        <br/>
        <br>
        Всесвітньо відомий <a href="https://www.liveinternet.ru/users/vodo-lei/post141099323/">курорт<a/> на термальній воді, місто відпочинку, літня столиця російських аристократів,
            <br> центр міжнародних фестивалів з ексклюзивним стилем життя та місто роз.
<br> Тут проживали багато відомих поетів, художників та політиків. <br>
            Наприклад, Федор Достоєвський (тут він працював над романами "Гравець" та "Ідіот"),
            <br>Лев Толстoй або Іван Тургєнев (тут він написан роман "Дим"). <br>Тут відпочивали англійська корoлева Вікторія, Бісмарк, Генрі Форд, Шарль де Голь.

            <br/>
        <br>
        <b>Окрім нашого весілля, це світове містечко пропонує багато й інших цікавостей:
        </b>
            <br/>
        <br>
        <ul>
            <li>Відчуйте себе Джеймс Бондом у одному з найкрасивіших і найвідоміших <a href="https://www.casino-baden-baden.de/de/">казино</a> світу. <br>Можна або сходити пограти увечері (ніяких джинсів або кросівок. І обережно... Достоєвський програв тут усе своє майно.. двічі :)
            </li>
             Є також екскурсії під час вечірніх ігор або до відкриття казино, наприклад, щодня о 11:00 (англійською, 7 € за людину).
            <br>
            <br/>
            <li>Розслабтесь так, як це робили римляни у лікувальній  <a
                        href="https://www.carasana.de/de/"> термальній воді Баден-Бадена</a>.
            </li>
            <br> Квиток на весь день на людину: 23 € (без ландшафту сауни) або 27 € (з саунами). <br>Потрібно лише пам'ятати про те, що вхід у сауну у купальних костюмах заборонено, можна лише з рушниками.<br/>
                У термах надається інформація також російською.<br/>
            <br>
            <li>Можна заглянути у <a href="https://www.museum-frieder-burda.de/de/home/">Музей Фрідера Бурди</a>.
            </li>
            <br>
            <li>у <a href="https://www.festspielhaus.de/">залі музикальних фестивалів </a> (найбільший у Німеччина, у будівлі колишнього вокзалу)<br> можна відвідати балет або концерти найвідоміших класиків світу.
            </li>
            <br>
            <li>відвідати не менш розкішний <a href="https://www.theater-baden-baden.de/">театр</a>.</li>
            <br/>
            <li>поіхати у Баден-Баденський виноробний район <a href="https://www.baden-baden.com/das-rebland">Rebland</a>, <br> насолодитися місцевим вином у смаковій гармонії з однією із традиційних німецьких страв (так, не лише з пивом!).
            </li>
            <br>
            <li>або просто прогулятися вулицями прекрасного Баден-Бадена. Серед інших по купальному кварталу, старому місту, <br> відомій Ліхтентальскій алеї з садом роз, старий замок, новий замок.
            </li>
        </ul>

        <br/>
        <i>  "Baden-Baden is so nice you have to name it twice"</i> як колись сказав Біл Клінтон. Закохайтеся у Баден-Баден так, як люблю його я! <br/>
        <br/>
        Офіційний імедж-фільм. It's the good-good life!
    </div>
    <br/>
    <div class="flex-column justify-content-center text-center">
        <iframe class="videoIframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/34vn-b84l7M"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    <br/>
