<div class="pt-2">&nbsp;</div>
<div class="d-flex justify-content-center flex-wrap text-center text">
    <strong>Україна – Німеччина</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Найкращий і найшвидший спосіб – літаком. Найближчі аеропорти: Карлсрує/Баден-Баден або Штутгарт.
        З нещодавного часу з Києва літає лоукостер Ryanair. Yuhu! <br>
        Рейси та квитки за посиланням: <a
                href="https://www.ryanair.com/ua/uk">Ryanair</a>
        <br/>
        Ціни: якщо летіти лоукостером, варіюються від 10 до 80 €, в залежності від сезону та дати. У загальному діє: чим
        раніше бронювати, тим дешевше. Так що, найкраще не зволікати.
        Пропонуємо брати найдешевший базовий тариф,а у процесі бронювання обрати послугу пріоріті (прибл. + 6 €). З
        пріоріті
        можна брати із собою на борд валізу 10 кг, чого цілком вистачає на 7-10-денну подорож.
    </div>
    <br/>
    <br/>

</div>
<br/>
<hr/>
<br/>
<div class="d-flex justify-content-center flex-wrap text-center">
    <strong>Аеропорт Карлсрує/Баден-Баден</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Найближчий до локації. Літак з/у Києв-Бориспіль літають двічі на тиждень, кожного понеділка і п‘ятниці.
        <br/>
        Інфа аеропорту за посиланням: <a
                href="https://www.baden-airpark.de/en/directions-and-parking/arrival-by-rail-and-bus/">Homepage Baden
            Airpark</a>
        <br/>
        З аеропорта у Баден-Баден їздить автобус номер 285 щогодинно (перший у 06:40, останній у 23:15). Автобус їде до
        головного вокзалу Баден-Бадена (нім. Baden-Baden Bahnhof, ≈ 28 хвилин їзди). З вокзалу Баден-Бадена потягом
        можно
        їхати далі, наприклад у Карлсрує.<br/>
        <br/>
    </div>
</div>
<br/>
<hr/>
<br/>
<div class="d-flex justify-content-center flex-wrap text-center">
    <strong>Аеропорт Штутгарт</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Літак з/у Києв-Бориспіль літають чотири рази на тиждень (пн, ср, пт, нд). За ціною квитки дешевші, ніж у
        Баден-Баден. Але: 100 км до Баден-Бадена. Машиною +/- година їзди (якщо без заторів). Поїздом мінімум
        1,5 - 2 години з 2 пересадками. Ціна за дорослого за одну поїздку аеропорт – Баден-Баден приблизно 20
        євро.<br/>
        Розклади руху, ціни тощо за посиланням: <a href="https://www.bahn.com/en/view/index.shtml">Deutsche Bahn in
            English</a>

    </div>
</div>
<br/>
<hr/>
<br/>
<div class="d-flex justify-content-center flex-wrap text-center">
    <strong>Де зупинитися</strong>
    <div class="pt-3">&nbsp;</div>
    <div>
        Ми рекомендуємо знімати житло через <a href="https://www.airbnb.com.ua/"> AirBnb</a>. Там можна знайти квартиру
        за помірною ціною. Головне – бронювати житло з хорошими відгуками. Не обовязкого бронювати житло саме у
        Баден-Бадені. Можна, наприклад, у Карлсрує або Rastatt. Головне, щоб було добре транспортне сполучення,
        наприклад неподалік вокзалу (нім. Bahnhof). Або (якщо у Карлсрує) недалеко від зупинки міської електрички (нім.
        S-Bahn).<br/>
    </div>
    <div class="pt-3">&nbsp;</div>
    <i>P.S. Пізніше ти знайдеш на цій сторінці рекомендації, що робити в Німеччині/куди поїхати/що подивитися. </i>
</div>
<br/>
<br/>