<div class="container">
    <div class="d-flex justify-content-center flex-wrap">
        <h2>
            {% trans %}schedule{% endtrans %}
        </h2>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
        <img src="{{ asset('build/images/DeutschHoch.png') }}" class="d-lg-none d-sm-inline"/>
        <img src="{{ asset('build/images/DeutschQuer.png') }}" class="d-none d-lg-inline">
    </div>
</div>
