<div class="flex-row justify-content-center text-center" xmlns="http://www.w3.org/1999/html">
    <br>
    <div class="flex-column justify-content-center text-center">
        <h2>
            {% trans %}Welcome{% endtrans %}
        </h2>
    </div>
    <div class="flex-column justify-content-center text-center">
        <strong>Achtung! Neues Datum!</strong><br/>
        Alle Infos auf der Einladung bleiben gültig. <br/>
        Neues Datum für unsere kirchliche Trauung: <strong>06.08.2021</strong>

    </div>
    <hr/>
    <div class="flex-column justify-content-center text-center">
       <span class="text-center"> Herzlich willkommen auf unserer Hochzeitshomepage!
        <br/>
        Hier findet Ihr alle Informationen rund um unseren besonderen Tag. Eure Zusage könnt Ihr unter "Meine Teilnahme" erteilen.
           <br>Wir freuen uns auf Euch!
           </span>
    </div>

</div>