<div class="container pt-2">
    <br>
    <div class="d-flex justify-content-center flex-wrap">
        <h2>
            {% trans %}Welcome{% endtrans %}
        </h2>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
       <span class="text-center"> Herzlich willkommen auf unserer Hochzeitshomepage!
        <br/>
        Hier findet Ihr alle Informationen rund um unseren besonderen Tag. Eure Zusage könnt Ihr unter "Meine Teilnahme" erteilen.
           <br>Wir freuen uns auf Euch!
           </span>
    </div>

</div>