@font-face {
  font-family: header-text;
  src: url("../fonts/Hearth Stone.ttf");
}

@font-face {
  font-family: content-text;
  src: url("../fonts/BauerBodoniRegular.otf");
}

@font-face {
  font-family: h2-text-italic;
  src: url("../fonts/MrsEavesOTItalic.otf");
}

@font-face {
  font-family: ukrainian;
  src: url("../fonts/Carolina.ttf");
}

.timer-boxes {
  z-index: 1;
  color: #fff;
  height: 100%;

  span.time {
    font-size: 1.1em;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    background: rgba(130, 130, 130, 0.5);

  }


  span.time-label {
    font-size: 1.0em;
    font-weight: bolder;
  }
}


body.de {
  background-color: #f8f4e1;
  font-family: content-text;
  font-size: 1.4rem;

  h2 {
    font-family: h2-text-italic;
    font-size: 3em;
  }

  .form-check-label {
    font-size: 1em;
  }
}

body.ua {
  background-color: #f8f4e1;
  font-family: "Lucida Grande";
  font-size: 1.4rem;

  h2 {
    font-family: ukrainian;
    font-size: 3em;
  }

  .form-check-label {
    font-size: 0.8em;
  }

}


.site-header {
  background-color: #dcd0c2;
}

.logo {
  height: 60px;
  z-index: 50;
}

.header-image {
  height: 72vh;
  z-index: 0;
  background: url('../images/mainimage_bearbeitet_ring_713h_1900w.png');
  background-repeat: no-repeat;
  background-position: center;

  .header-text {
    font-family: header-text;
    font-size: 4.5em;
  }
}

.lightgray {
  background-color: rgba(207, 207, 207, 0.18);
}


@media screen and (max-width: 375px) {

  .timer-boxes {
    span.time {
      font-size: 0.7em;
    }
  }

  h2 {
    font-family: h2-text-italic;
    font-size: 2em;
  }

  .logo {
    height: 30px;
    z-index: 50;

    img {
      height: 40px;
    }
  }

  .header-image {
    height: 50vh;
    background: url('../images/mainimage_bearbeitet_ring_320w.png');
    background-repeat: no-repeat;
    background-position: center;

    .header-text {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 414px) {


  .timer-boxes {
    span.time {
      font-size: 0.7em;
    }
  }


  .logo {
    height: 40px;
  }
  .header-image {
    height: 50vh;
    background: url('../images/mainimage_bearbeitet_ring_320w.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    .header-text {
      margin: 0.5em;
      font-family: header-text;
      font-size: 2em;
    }
  }

  .timer-boxes {
    height: 25vh;

    span.time {
      width: 35px;
      height: 35px;

    }
  }
}


.flag-icon {
  height: 30px;
}

